<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestsCodeCov.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E290B902A30AA3600A3B6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E290BA02A30AA3700A3B6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E290BAA2A30AA3700A3B6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
